<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
		<param-name>upload folder</param-name>
		<param-value>attachment</param-value>
	</context-param>
	<context-param>
		<param-name>allowed file type</param-name>
		<param-value>.gif,.jpg,.bmp</param-value>
	</context-param>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContextParamServlet</servlet-name>
    <servlet-class>com.xk.servlet.ContextParamServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ContextParamServlet</servlet-name>
    <url-pattern>/servlet/ContextParamServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
